{{#each tools as |tool|}}

<section data-id="{{tool.id}}">
  <h3 data-id="{{tool.id}}">Name:{{tool.name}}</h3>
    <small>
     Id: {{tool.id}}
     Quantity: {{tool.quantity}}
     Available: {{tool.available}}
     </small>
     <button id='delete-tool'>Delete</button>

  </section>

{{/each}}
<!-- edit and then the div/modal/whatever that pops up has the default values of the previous values of the tool -->
